/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}

section {
	margin: 50px 0
}

.edition {
	width: 100%;
	display: none;
	background-color: #000;
	color: white;
	height: 59px;
	justify-content: center;
	align-items: center;
}

.edition_mode {
	margin-left: 15px;
	margin-right: 15px;
}

.change {
	border: solid 1px white;
	background-color: white;
	border-radius: 20px;
	color: #000;
	padding: 10px 20px 10px 20px;
	font-weight: bold;

}

.titre_nav {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover, .ancre_login:hover {
	color: #B1663C;
}

.ancre_login {
	text-decoration: none;
    color: #000;
}

.logout {
	display: none;
}

#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	width: 80%;
	margin-bottom: 15px;
}

.modify_1 {
	display: none;
}

.modif {
	margin-left: 8px;
}

#introduction article {
	flex: 1
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

.titre_projet {
	display: flex;
	justify-content: center;
	margin-bottom: 3em;
}

#portfolio h2 {
	text-align: center;
	margin-bottom: 0.3em;
}

.modify_2 {
	display: none;
	align-items: center;
	margin-left: 23px;
}

.modal {
	position: fixed;
	display: flex;
	display: none;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	background:rgba(0, 0, 0, 0.501);
}

.modal_gallery {
	overflow: auto;
	width: 718px;
	max-width: calc(100vw - 20px);
	max-height: calc(100vh - 20px);
	padding: 20px;
	background-color: white;
	margin: auto;
	text-align: center;
	border-radius: 10px;
}

.close_first_modal {
	display: flex;
	justify-content: end;
	font-size: 25px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 15px;
}

.title_modal {
	color: black;
	font-family: Work Sans;
	margin-bottom: 50px;
}

.image_mini {
	width: 100%;
	display: grid;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
	grid-template-rows: repeat(3, auto);
	grid-template-columns: repeat(5, 1fr);
	margin-bottom: 60px;
	margin-top: 75px;
	position: relative;
  }
  
  .image_mini img {
	width: 100%;
	height: 170px;
	object-fit: cover;
  }

  .image_mini figcaption {
	width: 30%;
  }

  .image_mini .fa-regular {
	position: absolute;
	margin-top: -25%;
	margin-left: 5%;
	color: white;
	background-color: black;
	border-radius: 2.5px;
	padding: 4.5px;
  }

  .image_mini .fa-solid {
	position: absolute;
	margin-top: -25%;
	margin-left: 1.3%;
	color: white;
	background-color: black;
	border-radius: 2.5px;
	padding: 4.5px;
  }

.border {
	border-top: 1px solid #B3B3B3;
	width: 85%;
	margin: auto;
}

.add {
	background-color: #1D6154;
	color: white;
	border-radius: 20px;
	width: 24%;
	margin: auto;
	padding: 10px 40px 10px 40px;
	margin-bottom: 20px;
	margin-top: 40px;
}

.delete {
	color: #D65353;
	margin-bottom: 20px;
}

.modal_add {
	overflow: auto;
	display: none;
	width: 600px;
	max-width: calc(100vw - 20px);
	max-height: calc(100vh - 20px);
	padding: 20px;
	background-color: white;
	margin: auto;
	text-align: center;
	border-radius: 10px;
}

.modal_icons {
	display: flex;
	justify-content: space-between;
}

.modal_icons i {
	font-size: 25px;
}

.add_works {
	background-color: #E8F1F6;
	border-radius: 10px;
	width: 75%;
	height: 230px;
	margin: auto;
	display: flex;
	flex-direction: column;
}

.add_works i {
	font-size: 90px;
	color: #B9C5CC;
	margin-top: 25px;
}

.add_works img {
	margin: auto;
	height: 230px;
	width: 50%;
	margin-top: -213px;
	object-fit: cover;
}

/*#photo {
	display: none;
}*/

.add_works button {
	width: 50%;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 12px;
	background-color: #CBD6DC;
	border-radius: 20px;
	color: #306685;
	outline: none;
	padding: 13px;
	border: #CBD6DC;
}

.format_size {
	margin-bottom: 10px;
}

.title_picture {
	display: flex;
	flex-direction: column;
	margin-top: 25px;
}

.title_name {
	width: 30%;
    margin-right: auto;
	margin-bottom: 5px;
}

.title_form {
	width:75%;
	height: 40px;
	margin: auto;
	border-color: white;
	border-top: white;
	border-left: white;
	box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.09);
}

.category_picture {
	display: flex;
	flex-direction: column;
	margin-top: 25px;
}

.category_name {
	width: 36%;
    margin-right: auto;
	margin-bottom: 5px;
}

.category_form {
	width:76%;
	height: 45px;
	margin: auto;
	border-color: white;
	border-top: white;
	border-left: white;
	box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.09);
}

.border2 {
	border-top: 1px solid #B3B3B3;
	width: 76%;
	margin: auto;
	margin-top: 50px;
}

.validate {
	background-color: #A7A7A7;
	color: 	#FFFFFF;
	width: 30%;
	margin: auto;
	border-radius: 20px;
	padding: 10px 20px 10px 20px;
	margin-top: 30px;

}

.filtres {
	text-align: center;
	margin-bottom: 45px;
	
}

.btn_tous, .btn_objets, .btn_apparts, .btn_hotelsrestos {
	border: solid #1D6154 2px;
	border-radius: 20px;
	color: #1D6154;
	background-color: white;
	padding: 4px 10px 4px 10px;
	font-size: 15px;
	margin-right: 5px;
}

.btn_tous:hover, .btn_objets:hover, .btn_apparts:hover, .btn_hotelsrestos:hover {
	color: white;
	background-color: #1D6154;
}
	

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;
	height: 491px;
	object-fit: cover;

}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

